:root {
  --strongcyan: hsl(172, 67%, 45%);
  --verydarkcyan: hsl(183, 100%, 15%);
  --darkgrayishcyan: hsl(186, 14%, 43%);
  --grayishcyan: hsl(184, 14%, 56%);
  --lightgrayishcyan: hsl(185, 41%, 84%);
  --verylightgrayishcyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  background-color: var(--lightgrayishcyan);
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1000px;
  height: 55vh;
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
}

.calc {
  box-sizing: border-box;
  width: 50%;
  padding: 60px;
  color: var(--darkgrayishcyan);
}

label {
  display: block;
  margin-bottom: 5px;
}

.calc-input {
  box-sizing: border-box;
  background-color: var(--verylightgrayishcyan);
  height: 50px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calc-input:hover {
  outline: 2px solid var(--strongcyan);
  cursor: pointer;
}

.bill-amount input {
  width: 100%;
  color: var(--verydarkcyan);
}

input {
  border: none;
  font-family: "Space Mono", monospace;
  text-align: right;
  font-size: 24px;
  background: none;
  outline: none;
}

::placeholder {
  color: var(--grayishcyan);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.percent,
.people {
  margin-top: 35px;
}

.percent__amount {
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.percent__amount button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--verydarkcyan);
  color: var(--white);
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

.percent__amount button:hover {
  cursor: pointer;
  background-color: var(--strongcyan);
  color: var(--verydarkcyan);
}

.percent-input {
  padding: 0px;
  margin: 5px;
}

.percent-input input {
  width: 100%;
}

.percent-input input::placeholder {
  text-align: center;
}

.results {
  box-sizing: border-box;
  background-color: var(--verydarkcyan);
  width: 50%;
  margin: 40px;
  border-radius: 30px;
  padding: 40px;
}

.results__tips {
  height: 50%;
}

.results__reset {
  height: 50%;
  display: flex;
  align-items: flex-end;
}

.results__reset button {
  width: 100%;
  height: 50px;
  background-color: var(--strongcyan);
  border: none;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  color: var(--verydarkcyan);
}

.results__reset button:hover {
  cursor: pointer;
  background-color: var(--lightgrayishcyan);
}

.results__amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--darkgrayishcyan);
  margin-bottom: 40px;
}

.results__amount p {
  margin: 0px;
  font-size: 20px;
  color: var(--verylightgrayishcyan);
}

.results__score {
  font-size: 45px;
  color: var(--strongcyan);
}

footer {
  width: 100%;
  text-align: center;
  position: relative;
  top: 120px;
  color: var(--grayishcyan);
}

footer a {
  text-decoration: none;
  color: var(--strongcyan);
}
